body {
  background-color: #e2ebee;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .col-25 {
    margin-bottom: 20px;
    margin-left: 0 !important;
  }
}

#main-container,
#sidebar-container {
  background-color: #fff;
  padding: 25px;
}

#sidebar-container {
  margin-left: 20px;
}

.info-section-container {
  border-bottom: 1px solid #000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  min-height: 80px;
}

.info-section-container:last-child {
  border-bottom: none;
}

.info-section-content {
  display: none;
  padding: 0 15px 15px 20px;
}

.info-section-preview {
  display: block;
  margin-top: 3px;
  padding: 0 15px 15px 20px;
}

.info-section-preview p {
  margin: 0;
  padding: 0;
}

.active-info-section .info-section-content  {
  display: block;
}

.active-info-section .info-section-preview  {
  display: none;
}

.section-header {
  margin: 0;
}

#empty-cart {
  width: 100%;
  padding: 150px;
  font-size: 1.5em;
}