#customer-data-form {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em;
}

#customer-data-form > .form-label  {
  grid-column: labels;
  grid-row: auto;
}

#customer-data-form > .form-field {
  grid-column: controls;
  grid-row: auto;
}

#customer-data-form > button {
  grid-column: span 2;
}

#customer-data-form .form-error {
	color: red;
	text-align: right;
	font-size: 14px;
	display: block;
	margin-top: 3px;
	display: none;
}

#customer-data-form .form-field input {
	width: 100%;
}

#customer-data-form input:valid:not(:placeholder-shown) {
	border-color: green;
}

#customer-data-form input:invalid:not(:placeholder-shown) {
	border-color: red;
}

#customer-data-form input:invalid:not(:placeholder-shown) + .form-error {
	display: block;
}