#checkout-overview {
  padding: 10px;
}

#order-totals-table {
  border-spacing: 0;
  width: 100%;
}

#order-totals-table tr:last-child th,
#order-totals-table tr:last-child td {
  border-top: 1px solid #000;
}

#order-totals-table th {
  text-align: left;
  padding: 10px 0;
}

#order-totals-table td {
  text-align: right;
  padding: 10px 0;
}

#btn-checkout {
  width: 100%;
  height: 40px;
}